<div cdkDropList [cdkDropListData]="users" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event)" class="list-container">
    <div *ngFor="let user of users" cdkDrag>
        <div class="card" style="margin-top: 15px">
            <div class="card-body">
                <h5 class="card-title"> {{ user.id }} </h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{ user.title }} </h6>
                <p class="card-text"> {{ user.body }} </p>
                <p class="card-text"> {{ isNew }} </p>
            </div>
        </div>
    </div>
</div>

<div cdkDropList [cdkDropListData]="alterUsers" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList"
    (cdkDropListDropped)="drop($event)" class="list-container">
    <div *ngFor="let user of alterUsers" cdkDrag>
        <div class="card" style="margin-top: 15px">
            <div class="card-body">
                <h5 class="card-title"> {{ user.id }} </h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{ user.title }} </h6>
                <p class="card-text"> {{ user.body }} </p>
                <p class="card-text"> {{ isNew }} </p>
            </div>
        </div>
    </div>
</div>